@use "../../styles/" as *;
.courses-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    @include mt(40);
    @include mb(24);

    @include md {
        text-align: left;
        margin-left: 1rem;
    }
}
